<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

    <title>Viewplant Properties</title>
</head>

<body>
    <h3>Viewplant Properties</h3>
    <hr>

    <h4>Databases</h4>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ALIAS</th>
                <th>URL</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
                <th>POOL</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reportAlias : ${props.getAliases()}">
                <td th:text="${reportAlias}">Alias</td>
                <td th:text="${props.getDatabaseConfig(reportAlias).getUrl()}">Url</td>
                <td th:text="${props.getDatabaseConfig(reportAlias).getUsername()}">User</td>
                <td th:text="${props.getDatabaseConfig(reportAlias).getPassword()}">Password</td>
                <td th:text="${props.getDatabaseConfig(reportAlias).getMaxPoolSize()}">Pool</td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/}">Main Page</a>
</body>
</html>