<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Properties</title>
</head>

<body>

<div class="container">

    <h3>Report Params</h3>
    <hr>


    <form th:action="@{/report/show}" th:object="${helloReportParamsForm}" method="GET">

        <select th:field="*{database}" placeholder="Database" class="form-control mb-4 col-4">
            <option value="primary">primary</option>
            <option th:each="item : ${aliases}"
                    th:value="${item}"
                    th:utext="${item}"/>
        </select>

        <select th:field="*{report}" placeholder="Report" class="form-control mb-4 col-4">
            <option th:each="item : ${reports}"
                    th:value="${item}"
                    th:utext="${item}"/>
        </select>



        <input type="date" name="date1" value="2020-01-01" class="form-control mb-2 col-4" >
        <input type="date" name="date2" value="2020-01-30"  class="form-control mb-2 col-4" >

        <button type="submit" class="btn btn-info col-2">Show Report</button>
    </form>

    <hr>


</div>

</body>
</html>



