<input class="control saveable" id="date" type="date" value="2020-01-31" onchange="showReport()"/>
<button class="btn" onclick="addDays('date', -1); showReport()">&lt;&lt;</button>
<button class="btn" onclick="addDays('date', 1); showReport()">&gt;&gt;</button>

<!--
<button id="yo" onclick="yo(this)">Yo</button>
<script>
    function yo(sender) {
        alert("database = " + sender.parentElement.parentElement.querySelector("#database").value);
    }
</script>
-->