<input class="control saveable" id="date1" type="date" value="2020-01-01" onchange="showReport()"/>
<input class="control saveable" id="date2" type="date" value="2020-01-31" onchange="showReport()"/>
<select class="control" id="hours" class="saveable" onchange="showReport()">
    <option value="">Смены</option>
    <option value="1">Часы</option>
</select>
<select class="control" id="wname" class="saveable" onchange="showReport()">
    <option value="WVHZ">Зерно на входе</option>
    <option value="WHIGH">Высший сорт</option>
    <option value="WFST">Первый сорт</option>
    <option value="WSCN">Второй сорт</option>
    <option value="WOTR">Отруби</option>
</select>
