<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Multi Line Chart</title>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../../static/css/linechart.css" th:href="@{/css/linechart.css}">
    <style></style>
</head>
<body>



<div class="page chart-page noselect" th:fragment="page">

    <nav class="page-navbar">
        <div class="page-navbar-wrap lc-navbar">

            <div class="page-navbar-left">
                <div class="lc-period">
                    <div class="lc-up">
                        <button class="btn lc-period-10m">10м</button>
                        <button class="btn lc-period-1h">1ч</button>
                        <button class="btn lc-period-8h">8ч</button>
                        <button class="btn lc-period-1d">1д</button><br>
                    </div>
                    <div>
                        <input class="control lc-goto-dt" type="date">
                    </div>
                </div>

                <div class="lc-zoom">
                    <div class="lc-up">
                        <button class="btn lc-zoom-res">res</button>
                        <button class="btn lc-zoom-in">+</button>
                    </div>
                    <div>
                        <button class="btn lc-zoom-toggle">xy</button>
                        <button class="btn lc-zoom-out">-</button>
                    </div>
                </div>
            </div>

            <div class="page-navbar-right"><div><div>
                <div class="lc-up">
                    <button class="btn lc-move-up">&#8593;</button>
                </div>
                <div>
                    <button class="btn lc-move-left">&#8592;</button>
                    <button class="btn lc-move-down">&#8595;</button>
                    <button class="btn lc-move-right">&#8594;</button>
                </div>
            </div></div></div>

        </div>
    </nav>



    <div class="page-content">

        <div class="lc-container">
            <div  class="lc-title"></div>
            <div  class="lc-legend"></div>
            <div  class="lc-status"></div>

        </div>
    </div>



</div>







<!-- ---------------- debug stuff ------------------ -->

<div class="sidenav1" style="position: fixed; bottom:0; right:0;">
    <div style="margin: 10px">
        <button class="chart-link" data-chart-name="shad.mill">mill</button>
        <button class="chart-link" data-chart-name="shad.elv">elv</button>
        <button class="chart-link" data-chart-name="shad.sbhm">sbhm</button>
        <button class="chart-link" data-chart-name="shad.kkorm">kkorm</button>
        <button onclick="lc.testLoadChart('test2')">sample</button>
    </div>
</div>
<div id="size"></div>


<script type="text/javascript" src="../../static/vendor/isMobile/isMobile.min.js" th:src="@{/vendor/isMobile/isMobile.min.js}"></script>
<script type="text/javascript" src="../../static/vendor/d3/d3.js" th:src="@{/vendor/d3/d3.js}"></script>
<script src="../../static/js/linechart.js" th:src="@{/js/linechart.js}"></script>
<script src="../../static/js/chart.js"></script>

<script>
    // isMobile = {any: true};
    function activatePage() {
        lc.initUrls(
            "http://localhost:8080/chart/config",
            "http://localhost:8080/chart/data");
    }
</script>


</body>
</html>