.lc-container {
    min-width: 400px;
    position: relative;
    color: #424242;
}

.lc-container > svg {
    display: block;
    padding: 0;
    margin: 0;
}

.lc-zoom, .lc-period {
    display: inline-block;
}

.lc-navbar input,
.lc-navbar button {
    height: 25px;
    font-size:14px;
}

.lc-goto-dt {
    width:100%;
}

.lc-up {
    padding-bottom:4px;
    text-align:center;
}


.lc-title {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

.lc-status {
    position: absolute;
    bottom: 60px;
    right: 8px;
    text-align: right;

    background-color: rgba(69, 244, 0, 0.51);
    padding: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.lc-status-error {
    background-color: rgba(255, 179, 31, 0.51);
}



.lc-axis text {
    fill: #2b2929;
    font-family: arial, sans-serif;
    font-size: 13px;
    pointer-events: none;
}

.lc-grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
}

.lc-grid path {
    stroke-width: 0;
}

.lc-hoverline {
    stroke: #2b2929;
    stroke-dasharray: 3,3;
    opacity: 0.5
}

.lc-hoverlabel-x,
.lc-hoverlabel-y {
    fill: white;

    font-family: arial, sans-serif;
    font-size: 13px;
    pointer-events: none;
}

.lc-hoverlabel-rect {
    fill: #636363;
}

.lc-line {
    pointer-events: none;
}






/**************** legend *******************/
.lc-legend {
    position: absolute;
    top: 32px;
    right: 8px;

    background-color: #eeeeeed0;
    padding: 8px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

.lc-legend table {
    border-collapse: collapse;
    font-size: 90%;
    cursor: pointer;
    line-height: 1.2;
}

.lc-legend tr:hover {
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 2px 5px -10px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


.lc-legend-color span{
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
}



.lc-legend-disabled {
    text-decoration: line-through;
    opacity: 50;
    color: gray;
}

.lc-legend-disabled .lc-legend-color
{
    opacity: 0;
}





