body{
    background: url('../img/bckg40.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
}

.sidenav-logo {
    color: #555;
    font-size: 34px;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}

hr {
    border-top: 1px solid rgba(0,0,0,.5);
}

h5 {
    color: #555;
}
