body {
    font-family: "Lato", sans-serif;
    line-height: unset;
    margin: 0;
}


.sidenav {
    width: 240px; /*** sidenav width ***/

    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    color: #424242;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transform: translateX(-100%);
}


.sidenav::before {
    background-image: url('../img/bckg30.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}


.sidenav-logo {
    color: #5d5d5d;
    padding: 16px 0px 16px 0px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(153,153,153,0.3);
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}
.sidenav-logo span:hover {
    text-shadow: 0 4px 8px rgba(0,0,0,0.18), 0 4px 16px rgba(0,0,0,0.15);
}

.sidenav-toolbar {
    padding: 4px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid rgba(153,153,153,0.3);
    position: relative;
}

.sidenav-toolbar-btn {
    top: 0;
    width:16px;
    height:16px;
    min-width: unset;
    padding: 4px;
    opacity: 0.45;
    position: absolute;
    cursor: pointer;
}

.sidenav-toolbar-btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    opacity: 0.7;
    background-color: rgba(0,0,0,0.10)
}

.sidenav-toolbar-btn:active {
    background-color: #eee;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.sidenav-fullscreen {
    left: 0;
}

.sidenav-login {
    cursor: pointer;
    text-decoration: none;
    color: #4d4d4d;
}


.sidenav-logout {
    right: 0;
}

.sidenav-logout-tooltiptext {
    left: 82%;
}



.hidetab-wrap {
    position: absolute;
    top: 0;
    bottom: 20px;
    right: 0;
    pointer-events: none;
}

.hidetab {
    padding: 26px 0 28px 2px;
    font-size: 22px;
    position: relative;
    top: 100%;
    transform: translateX(100%) translateY(-100%);
    color: rgba(0,0,0,0.48);
    background-color: #e9e6e0;
    border-radius: 0 1.2rem 1.2rem 0;
    cursor: pointer;
    pointer-events: all;
    width: 30px;
    text-align: center;
}

.hidetab:hover {
    color: rgba(0,0,0,0.68);
    background-color: #e1ded8;
}

.hidetab-closed {
    transform: translateX(100%) translateY(-100%) rotate(180deg);
    border-radius: 1.2rem 0 0 1.2rem ;
}

.treeview-wrap {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.treeview {
    overflow-x: hidden;
    padding-bottom: 8px;
    margin: 8px 0 8px 0;
}

.treefolder,
.treeitem {
    cursor: pointer;
}

.treefolder {
    font-weight: bold;
}

.treeitem {
    padding: 8px 8px 8px 8px;
    display: block;
}

.treeitem a {
    display: block;
}

.treeitem:hover
{
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 2px 5px -10px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.treeview ul{
    list-style-type: none;
}

ul.treeview{
    padding-left: 0;
}

ul.nested {
    margin-left: 12px;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: #bcbcbc;
    display: inline-block;
    margin-right: 4px;
    font-size: 10px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.nested-opened {
    display: block;
}


/*==============================================================*/
.main{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}



.page-navbar {
    flex-grow: 0;
    z-index: 999;
}

.page-content {
    overflow: auto;
    flex-grow: 1;
}

.page-navbar-wrap {
    background-color: #eee;
    font-size: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    white-space: nowrap;
    overflow: hidden;
}

.page-navbar-left
{
    float:left;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
}

.page-navbar-left > div {
    display: inline-block;
}

.page-navbar-right
{
    padding: 8px 8px 8px 0;
}

.page-navbar-right > div {
    display: flex;
    justify-content: flex-end;
}



/* ===== WELCOME ===== */
.welcome-page {
    padding: 19px 20px 0px 20px;
    overflow: auto;
}


/* ===== REPORT ===== */
.report-page {
    display: flex;
    flex-direction: column;
}

.report-content {
    transform-origin: left top;
}

.report-bar *
{
    height: 29px;
}



.report-toobig {
    text-align:center;
    font-size:12px;
}

.report-error {
    color: red;
}


.report-zoom {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

.report-zoom-btn {
    padding: 4px;
    margin: 8px 4px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    pointer-events: all;
}

.report-zoom-btn > img {
    display: block;
    opacity: 55%;
    width: 24px;
    height: 24px;

}

.report-zoom-btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    opacity: 1;
    background-color: #eee;
}

.report-zoom-btn:active {
    background-color: #ddd;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}









/* ===== CONTROLS ===== */
.control {
    padding: 0.25rem 0rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #424242;
    background-color: #fbf8f8;
    border: 0px solid transparent;
    font-weight: 400;
    user-select: none;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: 0;
}

.btn {
    padding: 0px 8px;
    min-width: 40px;
    font-size: 15px;
    outline: 0;
    color: #424242;
    display: inline-block;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: .125rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.12);
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out,-webkit-box-shadow .1s ease-in-out;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 0px solid transparent;
}

.control:hover,
.btn:hover {
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.18), 0 4px 8px 0 rgba(0,0,0,0.15);
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #9d9d9d;
}

.btn:not([disabled]):not(.disabled):active {
    color: #fff;
    outline: 0;
    background-color: #757575;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}




.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}



.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;

}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

