<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Вход в систему ViewPlant</title>


    <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.min.css" th:href="@{/vendor/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/vendor/bootstrap/signin.css" th:href="@{/vendor/bootstrap/signin.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

    <style>
    </style>
</head>
<body>

<div class="container">
    <h2 class="sidenav-logo">ViewPlant</h2>
    <form class="form-signin" method="post" th:action="@{/login}">
        <hr>
        <h5 class="form-signin-heading">Вход в систему</h5>
        <p>
            <label for="username" class="sr-only">Пользователь</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Пользователь" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required="">
        </p>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>


</body></html>