<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">-->
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/linechart.css" th:href="@{/css/linechart.css}">

    <script type="text/javascript" src="../static/vendor/isMobile/isMobile.min.js" th:src="@{/vendor/isMobile/isMobile.min.js}"></script>

    <title>ViewPlant</title>




</head>
<body>



<div class="sidenav noselect">



    <div class="sidenav-header">
        <div class="sidenav-logo">
            <span>VIEWPLANT</span>
        </div>
        <div class="sidenav-toolbar">
            <img class="sidenav-fullscreen sidenav-toolbar-btn" src="/img/full-screen-b.png" th:src="@{/img/full-screen-b.png}">
            <span class="sidenav-username" th:if="${user!=null}" th:text="${user==null}? 'Гость': ${user.fullname}">admin</span>

            <a class="sidenav-login" href="login" th:if="${user==null}">Войти</a>

            <a class="tooltip" th:if="${user!=null}" onclick="logoutUser()">
                <img class="sidenav-logout sidenav-toolbar-btn" src="/img/key4.png" th:src="@{/img/key4.png}">
                <span class="tooltiptext sidenav-logout-tooltiptext">Выйти</span>
            </a>


        </div>
    </div>

    <div class="treeview-wrap">
        <ul class="treeview">
            <!-- folders -->
            <li th:each="it: ${folders}" th:data-tv-id="${it.sidenavId}" th:data-tv-parent="${it.sidenavParentId}">
                <div class="treefolder treeitem caret caret-down" th:text="${it.name}">
                    <!--<span th:text="${it.name}" class="caret caret-down">Folder</span>-->
                </div>
                <ul class="nested nested-opened"></ul>
            </li>

            <!-- reports -->
            <li th:each="it: ${reports}" th:data-tv-id="${it.sidenavId}" th:data-tv-parent="${it.sidenavParentId}">
                    <a class="treeitem report-link" th:data-report-name="${it.name}">
                        <span th:text="${it.caption}">Report</span>
                        <div hidden th:utext="${it.paramText}">
                            <input id="testname" type="text" class="saveable" value="test name"/>
                            <input id="testdate" type="date" class="saveable" value="2020-01-31"/>
                        </div>
                    </a>
            </li>

            <!-- charts -->
            <li th:each="it: ${charts}" th:data-tv-id="${it.sidenavId}" th:data-tv-parent="${it.sidenavParentId}">
                    <a class="treeitem chart-link" th:data-chart-name="${it.name}">
                        <span th:text="${it.caption}">Report</span>
                    </a>
            </li>

        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="Logout"/>
        </form>

    </div>

    <div class="hidetab-wrap">
        <div class="hidetab hidetab-closed">
            <span>&#171;</span>
        </div>
    </div>



</div>



<div class="main">

    <!--<div hidden class="page welcome-page" th:insert="~{welcome :: page}"></div>-->
    <!--<div th:replace="~{welcome :: page}"></div>-->
    <div class="page welcome-page"></div>

    <div th:replace="~{report/report-frag :: page}"></div>

    <div th:replace="~{chart/chart-frag :: .page}"></div>



</div>

<script th:inline="javascript">
    const contextRoot = /*[[@{/}]]*/ '';
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../static/vendor/d3/d3.js" th:src="@{/vendor/d3/d3.js}"></script>


<script src="../static/js/report.js" th:src="@{/js/report.js}"></script>
<script src="../static/js/linechart.js" th:src="@{/js/linechart.js}"></script>
<script src="../static/js/chart.js" th:src="@{/js/chart.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>


</body>
</html>