<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Welcome to ViewPlant</title>

    <link rel="stylesheet" href="../static/css/welcome.css" th:href="@{/css/welcome.css}">

</head>
<body>

<div class="welcome-wrap">
    <p>Cистема технологического учета ViewPlant</p>
    <hr>

    <button onclick="loadpage()">welcome1</button>

    <button onclick="loaddocs()">docs</button>

    <form action="/logout" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="Logout"/>
    </form>

</div>

<script>
    function loadpage() {
        console.log('loadpage')
        $('.welcome-page').load('/welcome1');
    }

    function loaddocs() {
        console.log('loaddocs')
        $('.welcome-page').load("http://microsoft.com")


    }

</script>


</body>
</html>